<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/Jquery/jquery-2.1.4.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <link href="~/Content/css/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/estilo.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Teste Senior Solution</title>
</head>
<body>
    <div class="container">
        <div class="h1">
            Sistema De Cadastro de Usuários
        </div>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c7fdc7;">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="\CadUsuario">Cadastro de Usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\ListUsuario">Consulta Usuário</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
