<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <link href="~/Content/css/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/estilo.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>Teste Senior Solution</title>
</head>
<body>
    <div class="container">
        <div class="h1">
            Sistema De Cadastro de Usuários
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
